/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tarchen <tarchen@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2018/11/25 11:42:25 by tarchen           #+#    #+#             */
/*   Updated: 2018/12/05 16:54:14 by tarchen          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
	zoom: 90%;
	padding-left: 5%;
	padding-top: 0.4%;
	background-color:#424242;
}

.header {
	position:relative;
	left: 6.5vw;
	width: 86vw;
	height: 10vw;
	border-radius: 1vw;
	background-color: #909090;
	box-shadow: 9px 9px 5px #121212;
}

.header img {
	position:absolute;
}

.header .img_day_of_the_42 {
	padding-top: 0.5%;
	padding-left: 1%;
	width: 35%;
	height: 85%;
}

.header .img_loupe {
	padding-top: 0.5%;
	padding-left: 77%;
	width: 20%;
	height: 110%;
}

.header .img_reload {
	padding-top: 1%;
	padding-left: 97%;
	width: 2%;
	height: 17%;
}

.header .img_close {
	padding-top: 8.4%;
	padding-left: 97%;
	width: 2%;
	height: 17%;
}

.main {
	position:relative;
	left: 6.5vw;
	width: 86vw;
	top: 1.3vw;
	height: 40vw;
	/* background-color: red; */
}

.main .left {
	position:relative;
	width: 10%;
	height: 70%;
	left: 2vw;
	/* background-color: green; */
	float:left;

	border-radius: 10px;
	background-color: #909090;
	box-shadow: 9px 9px 5px #121212;
}

.main .left img {
	position: relative;
	top: 1%;
	padding-top: 8%;
	width: 50%;
	left: 2.2vw;
}

.main .left .border-oeil {
	position: absolute;
	top: 11.2vw;
	left: 1.7vw;
	width: 4.4vw;
	height: 4.1vw;
	border: 0.4vw solid red;
	border-radius: 0.3vw;
}

.main .right {
	position:relative;
	width: 10%;
	height: 70%;
	right: 2vw;
	/* background-color: blue; */
	vertical-align: top;
	float:right;

	border-radius: 10px;
	background-color: #909090;
	box-shadow: 9px 9px 5px #121212;
}

.main .right img {
	position: relative;
	top: 1%;
	padding-top: 8%;
	width: 50%;
	left: 2.2vw;
}

.main .right .wall{
	background-image:url('./assets/brick.jpg');
	margin:auto;
	width: 7.5vw;
	height: 5vw;
}

.main .content {
	position:relative;
	width: 70%;
	height: 90%;
	left: 4.2vw;
	/* background-color: yellow; */
	float:left;

	border-radius: 10px;
	background-color: #909090;
	box-shadow: 9px 9px 5px #121212;
}

.main .content .cluster {
	position: relative;
	top: 0.7vw;
	width: 58.8vw;
	height:34.5vw;
	left: 0.7vw;
}

.chat {
	position: absolute;
	background-color: #20F070;
	float: left;
	left: 9vw;
	top: 44.3vw;
	width: 35vw;
	height: 11vw;
	border-radius: 10px;
	box-shadow: 9px 9px 5px #121212;

	padding-left: 0.5%;
	padding-top: 0.9%;
	font-size: 1.3vw;
	font-family: 'arial';
}


.chat .entrez {
	font: 2.3vw bold;
}

.chat .ital {
	font-style: italic;
}

.chat input {
	width: 25vw;
}

.chat .ordi {
	text-shadow: 7px 7px 5px #CD7116;
}










